{
    "sra_command": {
        "limits": [
        {
        "name": "15 minute limit",
        "limit": 9999,
        "period_seconds": 900
        },
        {
        "name": "1 hour limit",
        "limit": 9999,
        "period_seconds": 3600
        },
        {
        "name": "1 day limit",
        "limit": 9999,
        "period_seconds": 86400
        }
    ],
    "dm_warning_threshold": 3
    },
    "honk_response": {
        "limits": [
        {
        "name": "15 minute limit",
        "limit": 1,
        "period_seconds": 900
        },
        {
        "name": "1 hour limit",
        "limit": 3,
        "period_seconds": 3600
        },
        {
        "name": "1 day limit",
        "limit": 5,
        "period_seconds": 86400
        }
    ],
    "dm_warning_threshold": 3
},
    "swearer_command": {
        "limits":[
        {
        "name": "15 minute limit",
        "limit": 1,
        "period_seconds": 900
        },
        {
        "name": "1 hour limit",
        "limit": 3,
        "period_seconds": 3600
        },
        {
        "name": "1 day limit",
        "limit": 5,
        "period_seconds": 86400
        }  
        ],
    "dm_warning_threshold": 3
    }
}