{
    "swears": [
      "swear1,",
      "swear2,",
      "swear3,",
      "holly molly!"
    ],
    "punchlines": [
      "punchline1",
      "punchline2",
      "punchline3",
      "it is what it is..."
    ]
  }